.container {
	display: grid;	
	width: 100%;
  	max-width: 750px;
 	margin: 0 auto;
    grid-template-columns: repeat(2, auto);
	grid-gap: 25px;	
}

.botoncitoAtras {
	background: none;
	background:#fff;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(255,255,255,.1),0 2px 4px 0 rgba(14,30,37,.12);
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: .9rem;
	font-weight: 500;
	line-height: 1.618em;
	outline: 0;
	padding: .382em 1em;	
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	transition: all .15s ease;
	vertical-align: middle;
	z-index: 1;
    position: relative;	
	transform: translate(750%, -50%);
	-ms-transform: translate(750%, -50%);
  }